@using System.Globalization

@model IEnumerable<Product> 
@{
    ViewData["Title"] = "Home Page";
}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
<head>
    ...
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet" />
    ...
</head>

<section class="py-3 filter-bar">
    <div class="container">
        <div class="row" style="background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;">
            <div class="col-12">
                <form>
                    <div class="row">
                        <!-- Product Name -->
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder="Product Name" name="name" value="@ViewBag.name">
                        </div>

                        <!-- Price Range -->
                        <div class="col-md-2">
                            <input type="number" class="form-control" placeholder="Min Price" name="minPrice" value="@ViewBag.minPrice">
                        </div>
                        <div class="col-md-2">
                            <input type="number" class="form-control" placeholder="Max Price" name="maxPrice"
                                   value="@ViewBag.maxPrice">
                        </div>

                        <!-- Category -->
                        <div class="col-md-2">
                            <select name="categoryId" class="form-control">
                                <option>--Select Category--</option>
                                @* @foreach(var item in ViewData["categories"] as IEnumerable<Category>)
                                {
                                    <option value="">@item.Name</option>
                                } *@

                                @foreach (var item in ViewBag.categories)
                                {
                                    if (item.Id == ViewBag.categoryId)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>

                        <!-- Brand -->
                        <div class="col-md-2">
                            <select name="brandId" class="form-control">
                                <option value="">--Select Brand--</option>
                                @if (ViewData["brands"] is IEnumerable<Brand> brands)
                                {
                                    foreach (var item in brands)
                                    {
                                        if (item.Id == ViewBag.brandId)
                                        {
                                            <option value="@item.Id" selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                }
                            </select>
                        </div>

                        <!-- Rating -->
                        @* <div class="col-md-2"> *@
                        @*     <select name="rating" class="form-control"> *@
                        @*         <option value="">Any Rating</option> *@
                        @*         <option>option 1</option> *@
                        @*         <option>option 2</option> *@
                        @*         <option>option 3</option> *@
                        @*     </select> *@
                        @* </div> *@

                        <!-- Hot Product Checkbox -->
                        <div class="col-md-1">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="IsHot" value="true" @(ViewBag.isHot is not null && ViewBag.isHot ? "checked" : "")>
                                <label class="form-check-label">Hot</label>
                            </div>
                        </div>

                        <!-- Submit Button -->
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-dark w-100">Filter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach(var item in Model)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">@item.Categroy.Name</div>
                            <!-- Discount badge-->
                            @{
                                const int discount = 20;
                            }
                            @if (item.Discount >= discount)
                            {
                                <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; left: 0.5rem">HOT: @item.Discount%</div>
                            }
                            <!-- Product image-->
                            <img class="card-img-top" src="~/Images/Customer/@item.MainImage" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@item.Name</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        @for (var i = 0; i < item.Rate; i++)
                                        {
                                            <div class="bi-star-fill"></div>
                                        }
                                    </div>            
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">@item.Price.ToString("C", new CultureInfo("en-US"))</span>
                                    @((@item.Price - (@item.Price * (@item.Discount / 100))).ToString("C", new CultureInfo("en-US")))
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="row">
                <nav aria-label="Page navigation example" style="justify-content: center;display: flex;">
                    <ul class="pagination">
                        @if (@ViewBag.currentPage > 1)
                        {
                            <li class="page-item"><a class="page-link" href="?page=@(ViewBag.currentPage - 1)&name=@ViewBag.name&minPrice=@ViewBag.minPrice&maxPrice=@ViewBag.maxPrice&categoryId=@ViewBag.categoryId&brandId=@ViewBag.brandId&isHot=@ViewBag.isHot">Previous</a></li>
                        }
                        @for (var i = 1; i <= ViewBag.totalPages; i++)
                        {
                            <li class="page-item @(ViewBag.currentPage == i ? "active" : "")"><a class="page-link" href="?page=@i&name=@ViewBag.name&minPrice=@ViewBag.minPrice&maxPrice=@ViewBag.maxPrice&categoryId=@ViewBag.categoryId&brandId=@ViewBag.brandId&isHot=@ViewBag.isHot">@i</a></li>
                        }
                        @if (@ViewBag.currentPage < ViewBag.totalPages)
                        {
                            <li class="page-item"><a class="page-link" href="?page=@(ViewBag.currentPage + 1)&name=@ViewBag.name&minPrice=@ViewBag.minPrice&maxPrice=@ViewBag.maxPrice&categoryId=@ViewBag.categoryId&brandId=@ViewBag.brandId&isHot=@ViewBag.isHot">Next</a></li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</div>

@section Scripts {

    <partial name="_NotificationPartial">

}
